.first-entry {
    min-height: 20rem;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.first-entry .entry-header {
    -webkit-line-clamp: 3;
}

.first-entry .entry-header h1 {
    font-size: 2.125;
    line-height: 1.3;
}

.first-entry .entry-content {
    margin: .875rem 0;
    font-size: 1rem;
    -webkit-line-clamp: 3;
}

.first-entry .entry-footer {
    font-size: .875rem;
}

.home-info .entry-content {
    -webkit-line-clamp: unset;
}

.post-entry {
    margin-bottom: var(--gap);
    padding: var(--gap);
    border-radius: var(--radius);
}

.post-entry:active {
    transform: scale(0.96);
}

.entry-header h2 {
    font-size: 1.5rem;
    line-height: 1.3;
}

.entry-content {
    margin: .5rem 0;
    font-size: 1rem;
    line-height: 1.6;
    -webkit-line-clamp: 2;
}

.entry-footer {
    font-size: .8125rem;
}

.entry-link {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.entry-cover,
.entry-isdraft {
    font-size: .875rem;
}

.page-content,
.page-footnote {
    font-size: 1rem;
}

.page-footnote {
    margin-top: 1rem;
}

.entry-cover {
    height: auto;
    margin-bottom: var(--gap);
    text-align: center;
    max-height: 100%;
}

.entry-cover img {
    border-radius: var(--radius);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: auto;
}

.entry-cover svg {
    border-radius: var(--radius);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: auto;
}

.entry-cover ~ .entry-item {
    margin-top: 1rem;
    width: 100%;
}

.entry-item-wrapper {
    margin-top: .6rem;
}

.entry-main {
    margin-top: 1rem;
}

.entry-cover.entry-cover-thumbnail {
    flex: 1 1 100%;
    height: auto;
    max-height: 100%;
    width: 100%;
}

.entry-item-wrapper,
.entry-cover.entry-cover-thumbnail ~ .entry-item-wrapper {
    flex: 1 1 100%;
}

@media screen and (min-width: 768px) {
    .entry-main {
        max-height: 7rem;
    }

    .entry-cover.entry-cover-thumbnail {
        flex: 0 1 auto;
        margin-bottom: 0;
        margin-right: .6em;
        max-height: 100%;
        max-width: 15%;
    }

    .entry-item-wrapper {
        flex: 1 0 83%;
        margin: 0;
        min-height: unset;
    }

    .entry-item-wrapper  .entry-item {
        margin-bottom: 1rem;
    }

    .entry-cover.entry-cover-thumbnail ~ .entry-item-wrapper {
        flex: 1 0 83%;
    }

    .entry-cover.entry-cover-thumbnail img {
        height: auto;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        width: auto;
    }

    .entry-cover.entry-cover-thumbnail svg {
        height: auto;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        width: auto;
    }

    .entry-item-wrapper .entry-footer {
        margin-top: 0;
    }

    .entry-content {
        margin: 0;
    }
}
