.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: var(--header-height);
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 1.5rem;
    font-weight: 700;
}

.logo a img {
    border-radius: 0.375rem;
    display: inline;
    margin-inline-end: .5rem;
    pointer-events: none;
    transform: translate(0, -10%);
    vertical-align: middle;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#theme-toggle svg {
    height: 1.125rem;
}

button#theme-toggle {
    font-size: 1.625rem;
    margin: auto .25rem;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 1rem;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto .25rem;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    font-size: 1rem;
    font-weight: 500;
    margin: auto .1825rem;
}

.logo-switches {
    flex-wrap: inherit;
}
