.main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
    position: relative;
}

.page-header h1 {
    font-size: 2.5rem;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    background: var(--primary);
    border-radius: 1.125rem;
    font-size: .8125rem;
    line-height: 2.25rem;
    padding: 0 1rem;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: .75rem 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: .75rem;
}

.social-icons a svg {
    height: 1.625rem;
    width: 1.625rem;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    color: rgba(255, 255, 255, 0.8);
    display: none;
    font-size: .875rem;
    padding: 0 .3125rem;
    position: absolute;
    right: .25rem;
    top: .25rem;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}
