.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.post-entry {
    position: relative;
    background: var(--entry);
    transition: transform 0.1s;
    border: 1px solid var(--border);
}

.tag-entry .entry-cover {
    display: none;
}

.entry-content {
    color: var(--secondary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.entry-footer {
    color: var(--secondary);
}

.entry-link {
    position: absolute;
}

.entry-cover,
.entry-isdraft {
    color: var(--secondary);
}

.entry-cover {
    text-align: center;
}

.entry-cover img {
    display: block;
    pointer-events: none;
}

.entry-cover svg {
    display: block;
    pointer-events: none;
}

.entry-cover a {
    color: var(--secondary);
    box-shadow: 0 1px 0 var(--primary);
}

.entry-cover ~ .entry-item {
    display: block;
}

.entry-cover~.entry-item-wrapper {
    display: block;
}

.entry-main {
    display: flex;
    flex-flow: row wrap;
}

.entry-cover ~ .entry-footer {
    display: block;
}

.entry-cover.entry-cover-thumbnail {
    display: block;
}

@media screen and (min-width: 768px) {
    .entry-main {
        display: flex;
        flex-flow: row nowrap;
    }

    .entry-cover.entry-cover-thumbnail {
        display: flex;
        flex-flow: column nowrap;
        justify-items: center;
        justify-self: center;
    }

    .entry-cover.entry-cover-thumbnail img {
        display: block;
    }

    .entry-cover.entry-cover-thumbnail svg {
        display: block;
    }

    .entry-item-wrapper,
    .entry-cover~.entry-item-wrapper {
        align-self: stretch;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        justify-items: start;
    }

    .entry-item-wrapper .entry-footer {
        justify-self: end;
    }

    .entry-footer {
        font-style: italic;
    }
}
