.terms-tags li {
    display: inline-block;
    font-weight: 500;
    margin: .625rem;
}

.terms-tags a {
    background: var(--tertiary);
    border-radius: .3125rem;
    display: block;
    padding: .3125rem .625rem;
    transition: transform 0.1s;
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}
